<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <BlazorStrap.BSAlert>
                        <h1>Autorizando o usuário...</h1>
                    </BlazorStrap.BSAlert>
                </Authorizing>
                <NotAuthorized>
                    <h2>Usuário não Autorizado...</h2>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <h5>Não foi localizado um componente para esta rota.</h5>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingAuthenticationState>